{
	"printWidth": 80,
	"tabWidth": 2,
	"arrowParens": "avoid",
	"semi": false,
	"bracketSameLine": true,
	"jsxSingleQuote": true,
	"proseWrap": "always",
	"singleQuote": true,
	"bracketSpacing": true,
	"singleAttributePerLine": true
}
